<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Catalogue</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body data-ng-app="MyCat" data-ng-controller="CatController">
	<div class="container">
		
		<h2>Catalogue des produits</h2>
		
		<form class="form-inline" style="margin: 10px;">
			<div class="form-group" style="margin-right: 5px">
				<label style="margin-right: 5px">Mot Clé : </label>
				<input class="form-control" type="text" data-ng-model="motCle">
			</div>
			<button class="btn btn-dark" data-ng-click="chercher()">Charger</button>
		</form>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Réference</th>
					<th>Désignation</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbdoy>
				<tr data-ng-repeat="p in produits">
					<td>{{ p.reference }}</td>
					<td>{{ p.designation }}</td>
					<td>{{ p.prix }}</td>
				</tr>
			</tbdoy>
		</table>
		
		<div>
			<ul class="pagination">
				<li data-ng-class="{active:$index==pageCourante}" class="page-item" data-ng-repeat="p in pages track by $index">
					<a class="page-link" href="" data-ng-click="goToPage($index)">
						{{ $index + 1 }}
					</a>
				</li>
			</ul>
		</div>
	
	</div>
	
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>